<?page title="Enviar datos por Ajax - Kleiver Fonseca" contentType="text/html;charset=UTF-8"?>
<zk xmlns:w="http://www.zkoss.org/2005/zk/client"
	xmlns:a="client/attribute">

	<window title="Enviar datos por Ajax - Kleiver Fonseca" border="normal" hflex="max" vflex="max">
		<label value="You are using: ${desktop.webApp.version}" />


		<grid id="gridSubir">
			<columns>
				<column label="test1"></column>

				<column label="test2"></column>

				<column label="test3"></column>
			</columns>

			<rows>
				<row>
					<label value="test11" a:key="columna1"></label>
					<label value="test21" a:key="columna2"></label>
					<label value="test31" a:key="columna3"></label>
				</row>
				<row>
					<label value="test12" a:key="columna1"></label>
					<label value="test22" a:key="columna2"></label>
					<label value="test32" a:key="columna3"></label>
				</row>
				<row>
					<label value="test13" a:key="columna1"></label>
					<label value="test23" a:key="columna2"></label>
					<label value="test33" a:key="columna3"></label>
				</row>
			</rows>
		</grid>
		<button w:onClick="subirGrid();" label="subir"></button>
		<div id="content"></div>
		<script type="text/javascript" src="subir.js">



		</script>
	</window>
</zk>